USE [LinguaCenter]
GO
/****** Object:  Table [dbo].[tb_Account]    Script Date: 12/5/2025 2:12:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Account](
	[AccountId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[FullName] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[RoleId] [int] NULL,
	[LastLogin] [nchar](10) NULL,
	[IsActive] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tb_Categories]    Script Date: 12/5/2025 2:12:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tb_Categories](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Alias] [varchar](255) NULL,
	[Image] [varchar](500) NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tb_Contact]    Script Date: 12/5/2025 2:12:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tb_Contact](
	[ContactId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NULL,
	[Phone] [varchar](20) NULL,
	[Email] [varchar](150) NULL,
	[Message] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ContactId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tb_Courses]    Script Date: 12/5/2025 2:12:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tb_Courses](
	[CourseId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Alias] [varchar](255) NULL,
	[Description] [nvarchar](max) NULL,
	[ShortDescription] [nvarchar](max) NULL,
	[Price] [int] NOT NULL,
	[PriceSale] [int] NULL,
	[ContentHours] [int] NULL,
	[TotalWeeks] [int] NULL,
	[Level] [varchar](50) NULL,
	[Language] [nvarchar](100) NULL,
	[Prerequisites] [nvarchar](max) NULL,
	[LastUpdate] [date] NULL,
	[Image] [varchar](500) NULL,
	[IsActive] [bit] NOT NULL,
	[TrainerId] [int] NOT NULL,
	[CategoryId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Events]    Script Date: 12/5/2025 2:12:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Events](
	[EventId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[EventDate] [datetime] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Image] [nvarchar](255) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[EventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tb_Lessons]    Script Date: 12/5/2025 2:12:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tb_Lessons](
	[LessonId] [int] IDENTITY(1,1) NOT NULL,
	[ModuleId] [int] NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Duration] [int] NULL,
	[Type] [varchar](20) NULL,
	[OrderIndex] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LessonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Menu]    Script Date: 12/5/2025 2:12:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Menu](
	[MenuId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NULL,
	[Alias] [nvarchar](150) NULL,
	[Description] [nvarchar](500) NULL,
	[Levels] [int] NULL,
	[ParentId] [int] NULL,
	[Position] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](150) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](150) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_tb_Menu] PRIMARY KEY CLUSTERED 
(
	[MenuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tb_Modules]    Script Date: 12/5/2025 2:12:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tb_Modules](
	[ModuleId] [int] IDENTITY(1,1) NOT NULL,
	[CourseId] [int] NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[OrderIndex] [int] NOT NULL,
	[TotalLessons] [int] NULL,
	[TotalDuration] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ModuleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Role]    Script Date: 12/5/2025 2:12:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Role](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NULL,
	[Description] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Trainers]    Script Date: 12/5/2025 2:12:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Trainers](
	[TrainerId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](150) NOT NULL,
	[Speciality] [nvarchar](150) NULL,
	[Description] [nvarchar](1000) NULL,
	[Image] [nvarchar](250) NULL,
	[Facebook] [nvarchar](250) NULL,
	[Twitter] [nvarchar](250) NULL,
	[Instagram] [nvarchar](250) NULL,
	[LinkedIn] [nvarchar](250) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[TrainerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Tb_Categories] ON 

INSERT [dbo].[Tb_Categories] ([CategoryId], [Name], [Alias], [Image], [IsActive]) VALUES (1, N'Tiếng Anh', N'tieng-anh', N'english.jpg', 1)
INSERT [dbo].[Tb_Categories] ([CategoryId], [Name], [Alias], [Image], [IsActive]) VALUES (2, N'Tiếng Hàn', N'tieng-han', N'korean.jpg', 1)
INSERT [dbo].[Tb_Categories] ([CategoryId], [Name], [Alias], [Image], [IsActive]) VALUES (3, N'Tiếng Nhật', N'tieng-nhat', N'japanese.jpg', 1)
SET IDENTITY_INSERT [dbo].[Tb_Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Tb_Contact] ON 

INSERT [dbo].[Tb_Contact] ([ContactId], [Name], [Phone], [Email], [Message], [CreatedDate]) VALUES (1, N'admin', NULL, N'fake@example.com', N'test', CAST(N'2025-12-05T08:47:37.440' AS DateTime))
INSERT [dbo].[Tb_Contact] ([ContactId], [Name], [Phone], [Email], [Message], [CreatedDate]) VALUES (2, N'admin', NULL, N'fake@example.com', N'test', CAST(N'2025-12-05T08:48:11.553' AS DateTime))
INSERT [dbo].[Tb_Contact] ([ContactId], [Name], [Phone], [Email], [Message], [CreatedDate]) VALUES (3, N'admin', NULL, N'fake@example.com', N'qewr', CAST(N'2025-12-05T08:54:25.567' AS DateTime))
SET IDENTITY_INSERT [dbo].[Tb_Contact] OFF
GO
SET IDENTITY_INSERT [dbo].[Tb_Courses] ON 

INSERT [dbo].[Tb_Courses] ([CourseId], [Title], [Alias], [Description], [ShortDescription], [Price], [PriceSale], [ContentHours], [TotalWeeks], [Level], [Language], [Prerequisites], [LastUpdate], [Image], [IsActive], [TrainerId], [CategoryId]) VALUES (1, N'Tiếng Anh cho người mới', N'english-beginner', N'Khóa học tiếng Anh cơ bản cho người mới bắt đầu.', N'Anh văn cơ bản cho người mới.', 1500000, 2000000, 40, 10, N'Beginner', N'English', N'Không yêu cầu', CAST(N'2024-11-01' AS Date), N'/assets/img/course/course-1.webp', 1, 1, 1)
INSERT [dbo].[Tb_Courses] ([CourseId], [Title], [Alias], [Description], [ShortDescription], [Price], [PriceSale], [ContentHours], [TotalWeeks], [Level], [Language], [Prerequisites], [LastUpdate], [Image], [IsActive], [TrainerId], [CategoryId]) VALUES (2, N'Tiếng Anh giao tiếp cấp 1', N'english-communication-1', N'Kỹ năng giao tiếp tiếng Anh cấp độ 1.', N'Nói tiếng Anh tự tin hơn.', 1800000, 2500000, 45, 12, N'Beginner', N'English', N'Tiếng Anh cơ bản', CAST(N'2024-11-10' AS Date), N'/assets/img/course/course-2.webp', 1, 1, 1)
INSERT [dbo].[Tb_Courses] ([CourseId], [Title], [Alias], [Description], [ShortDescription], [Price], [PriceSale], [ContentHours], [TotalWeeks], [Level], [Language], [Prerequisites], [LastUpdate], [Image], [IsActive], [TrainerId], [CategoryId]) VALUES (3, N'Tiếng Hàn sơ cấp 1', N'tieng-han-so-cap-1', N'Khóa học tiếng Hàn nhập môn TOPIK.', N'Học bảng chữ cái + ngữ pháp cơ bản.', 1600000, 2200000, 50, 12, N'Beginner', N'Korean', N'Không yêu cầu', CAST(N'2024-10-20' AS Date), N'/assets/img/course/course-3.webp', 1, 2, 2)
SET IDENTITY_INSERT [dbo].[Tb_Courses] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_Events] ON 

INSERT [dbo].[tb_Events] ([EventId], [Title], [EventDate], [Description], [Image], [IsActive]) VALUES (1, N'Hội thảo "Làm chủ kỹ năng IELTS Writing"', CAST(N'2025-03-15T09:00:00.000' AS DateTime), N'Buổi hội thảo chia sẻ phương pháp luyện viết hiệu quả từ các giảng viên IELTS 8.0+, giúp học viên nâng band điểm Writing nhanh chóng.', N'/assets/img/event/event-item-1.webp', 1)
INSERT [dbo].[tb_Events] ([EventId], [Title], [EventDate], [Description], [Image], [IsActive]) VALUES (2, N'Lớp học thử "Giao tiếp tiếng Anh tự tin"', CAST(N'2025-04-05T18:00:00.000' AS DateTime), N'Lớp học thử miễn phí giúp học viên trải nghiệm phương pháp phản xạ tiếng Anh tự nhiên cùng giáo viên bản ngữ.', N'/assets/img/event/event-item-2.webp', 1)
INSERT [dbo].[tb_Events] ([EventId], [Title], [EventDate], [Description], [Image], [IsActive]) VALUES (3, N'Workshop "Du học Nhật Bản – Cơ hội và thách thức"', CAST(N'2025-05-12T14:00:00.000' AS DateTime), N'Buổi chia sẻ thông tin về học bổng, cuộc sống và lộ trình du học Nhật Bản cùng các cựu du học sinh.', N'/assets/img/event/event-item-3.jpg', 1)
SET IDENTITY_INSERT [dbo].[tb_Events] OFF
GO
SET IDENTITY_INSERT [dbo].[Tb_Lessons] ON 

INSERT [dbo].[Tb_Lessons] ([LessonId], [ModuleId], [Title], [Duration], [Type], [OrderIndex]) VALUES (2, 1, N'Setting up the Development Environment', 18, N'video', 1)
INSERT [dbo].[Tb_Lessons] ([LessonId], [ModuleId], [Title], [Duration], [Type], [OrderIndex]) VALUES (3, 1, N'JavaScript Fundamentals Review', 25, N'video', 2)
INSERT [dbo].[Tb_Lessons] ([LessonId], [ModuleId], [Title], [Duration], [Type], [OrderIndex]) VALUES (4, 1, N'Understanding Modern Development Tools', 32, N'text', 3)
SET IDENTITY_INSERT [dbo].[Tb_Lessons] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_Menu] ON 

INSERT [dbo].[tb_Menu] ([MenuId], [Title], [Alias], [Description], [Levels], [ParentId], [Position], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (1, N'Trang chủ', N'/', N'Liên kết đến trang chủ', 1, NULL, 1, CAST(N'2025-11-10T00:57:41.547' AS DateTime), N'Admin', NULL, NULL, 1)
INSERT [dbo].[tb_Menu] ([MenuId], [Title], [Alias], [Description], [Levels], [ParentId], [Position], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (2, N'Giới thiệu', N'/About', N'Thông tin về trung tâm', 1, NULL, 2, CAST(N'2025-11-10T00:57:41.547' AS DateTime), N'Admin', NULL, NULL, 1)
INSERT [dbo].[tb_Menu] ([MenuId], [Title], [Alias], [Description], [Levels], [ParentId], [Position], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (3, N'Khóa học', N'/Courses', N'Danh sách các khóa học', 1, NULL, 3, CAST(N'2025-11-10T00:57:41.547' AS DateTime), N'Admin', NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[tb_Menu] OFF
GO
SET IDENTITY_INSERT [dbo].[Tb_Modules] ON 

INSERT [dbo].[Tb_Modules] ([ModuleId], [CourseId], [Title], [Description], [OrderIndex], [TotalLessons], [TotalDuration]) VALUES (1, 1, N'Module 1: Introduction to Modern Web Development', N'Overview and setup', 1, 6, 3)
INSERT [dbo].[Tb_Modules] ([ModuleId], [CourseId], [Title], [Description], [OrderIndex], [TotalLessons], [TotalDuration]) VALUES (2, 1, N'Module 2: React.js Fundamentals', N'Basics of React framework', 2, 8, 5)
INSERT [dbo].[Tb_Modules] ([ModuleId], [CourseId], [Title], [Description], [OrderIndex], [TotalLessons], [TotalDuration]) VALUES (3, 1, N'Module 3: Backend Development with Node.js', N'Building backend with Node.js', 3, 10, 6)
SET IDENTITY_INSERT [dbo].[Tb_Modules] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_Trainers] ON 

INSERT [dbo].[tb_Trainers] ([TrainerId], [FullName], [Speciality], [Description], [Image], [Facebook], [Twitter], [Instagram], [LinkedIn], [IsActive], [CreatedDate]) VALUES (1, N'Nguyễn Thị Hương', N'Tiếng Anh giao tiếp', N'Giảng viên tiếng Anh với hơn 8 năm kinh nghiệm giảng dạy giao tiếp và luyện phát âm chuẩn Mỹ.', N'/assets/img/person/person-m-7.webp', N'https://facebook.com/huong.nguyen', NULL, N'https://instagram.com/huong.english', N'https://linkedin.com/in/huongnguyen', 1, CAST(N'2025-11-10T01:12:58.747' AS DateTime))
INSERT [dbo].[tb_Trainers] ([TrainerId], [FullName], [Speciality], [Description], [Image], [Facebook], [Twitter], [Instagram], [LinkedIn], [IsActive], [CreatedDate]) VALUES (2, N'Trần Minh Khoa', N'Tiếng Nhật N2-N1', N'Giáo viên tiếng Nhật từng du học tại Tokyo, có chứng chỉ JLPT N1 và hơn 5 năm kinh nghiệm luyện thi.', N'/assets/img/person/person-f-8.webp', N'https://facebook.com/khoa.tran', NULL, N'https://instagram.com/khoa.nihongo', N'https://linkedin.com/in/khoatran', 1, CAST(N'2025-11-10T01:12:58.747' AS DateTime))
INSERT [dbo].[tb_Trainers] ([TrainerId], [FullName], [Speciality], [Description], [Image], [Facebook], [Twitter], [Instagram], [LinkedIn], [IsActive], [CreatedDate]) VALUES (3, N'Lê Hoàng Anh', N'Tiếng Hàn sơ cấp', N'Giảng viên trẻ trung, năng động, tốt nghiệp khoa Hàn Quốc học – ĐH KHXH&NV, giảng dạy theo phương pháp giao tiếp trực quan.', N'/assets/img/person/person-m-6.webp', N'https://facebook.com/hoanganh.le', NULL, N'https://instagram.com/hoanganh.korean', N'https://linkedin.com/in/hoanganh', 1, CAST(N'2025-11-10T01:12:58.747' AS DateTime))
SET IDENTITY_INSERT [dbo].[tb_Trainers] OFF
GO
ALTER TABLE [dbo].[Tb_Categories] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Tb_Contact] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Tb_Courses] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[tb_Events] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[tb_Trainers] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[tb_Trainers] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Tb_Courses]  WITH CHECK ADD  CONSTRAINT [FK_Courses_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Tb_Categories] ([CategoryId])
GO
ALTER TABLE [dbo].[Tb_Courses] CHECK CONSTRAINT [FK_Courses_Category]
GO
ALTER TABLE [dbo].[Tb_Courses]  WITH CHECK ADD  CONSTRAINT [FK_Courses_Trainer] FOREIGN KEY([TrainerId])
REFERENCES [dbo].[tb_Trainers] ([TrainerId])
GO
ALTER TABLE [dbo].[Tb_Courses] CHECK CONSTRAINT [FK_Courses_Trainer]
GO
ALTER TABLE [dbo].[Tb_Lessons]  WITH CHECK ADD  CONSTRAINT [FK_Lessons_Module] FOREIGN KEY([ModuleId])
REFERENCES [dbo].[Tb_Modules] ([ModuleId])
GO
ALTER TABLE [dbo].[Tb_Lessons] CHECK CONSTRAINT [FK_Lessons_Module]
GO
ALTER TABLE [dbo].[Tb_Modules]  WITH CHECK ADD  CONSTRAINT [FK_Modules_Course] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Tb_Courses] ([CourseId])
GO
ALTER TABLE [dbo].[Tb_Modules] CHECK CONSTRAINT [FK_Modules_Course]
GO
ALTER TABLE [dbo].[Tb_Courses]  WITH CHECK ADD CHECK  (([Level]='Advanced' OR [Level]='Intermediate' OR [Level]='Beginner'))
GO
ALTER TABLE [dbo].[Tb_Lessons]  WITH CHECK ADD CHECK  (([Type]='text' OR [Type]='video'))
GO
